/* colors */

$primary: #ff5f33;
$secondary: #6c757d;
$info: #2b1ae6;
$warning: #e6a21a;
$danger: #dc3545;
$light: #f6f6f7;
$dark: #343a40;
$neutral: #615656;
$success: #1ae67f;
$failed: #e61a3c;
$black: #000000;
$white: #ffffff;
$monochrome-dark: #383f4d;
$monochrome-light: #c7cad1;
$link: #2f9bff;
$border-color: #e6e6e6;
